
<div class="">

    <div class="container">
      <div class="row">

    <div class="col-md-6">

      <h2 class="text-center">Customers</h2>
      <div class="" style="">

        <div class="">
          <label class="sr-only" for="customerFilter">Search for name/email/phone</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                Filter
              </div>
            </div>
            <input [ngModel]="searchText" (ngModelChange)="search($event)" type="text" class="form-control" id="customerFilter" placeholder="Search for name/email/phone">
          </div>
        </div>

        <ul class="list-group" style="width: 100%; overflow-x: hidden; height: 100%">
          <li class="list-group-item" *ngFor="let customer of customers" [class.selected]="customer === selectedCustomer" (click)="onSelect(customer)">
            <strong>{{customer.name | titlecase}}</strong><br/>
            <span>Email: {{customer.email}}</span><br/>
            <span>Name: {{customer.phone}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Details</h2>
      <app-customer-detail
        (cancelEvent)="cancelDetail($event)"
        (saveEvent)="saveDetail($event)"
        (toggleOrdersEvent)="showCustomersOrder()"
        [customer]="selectedCustomer">
      </app-customer-detail>
    </div>
      </div>

  </div>

  <div class="container" *ngIf="showCustomerOrder">
    <app-orders-list
      [customer]="selectedCustomer" [orders]="customerOrders">
    </app-orders-list>
  </div>

</div>
